.AppContainer {
  background-color: #0079bf;
  width: 100vw;
  height: 100vh;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #4d4d4d;
}

footer.App-footer {
  margin: 20px;
}

footer.App-footer a {
  padding: 5px 10px 5px 0;
  color: white;
}
